.letterList {
    font-size: 130%;
    padding: 0 5px;
}
.odd {
    background-color: var(--category);
}
.even {
    background-color: var(--category-alt);
}
.odd.selected {
    background-color: var(--selected_category);
}
.even.selected {
    background-color: var(--selected_category_alt);
}
.disabled {
    color: var(--disabled_text);
}
.clickable {
    cursor: pointer;
}
