.letterList {
    font-size: 130%;
    padding: 0 5px;
}
.odd {
    background-color: lightgrey;
}
.even {
    background-color: darkgray;
}
.odd.selected {
    background-color: palevioletred;
}
.even.selected {
    background-color: indianred;
}
.disabled {
    color: gray;
}
.clickable {
    cursor: pointer;
}
