/* Setting website font */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}

/* Hide alphabetic and search by default */
#animals-alphabetic {
    display: none;
}
#animals-search {
    display: none;
}

/* Style for category list, but also selected species and selected zoos lists */
ul {
    padding-left: 10px;
    border-left: 1px dotted black;
}
li {
    list-style-type: none;
    max-height: 1000000px;
}

/* Icons for category listing */
li.closed:before {
    content: "📁";
}
li.open:before {
    content: "📂";
}
li.species:before {
    content: "🦌";
}

/* Colours for category listing */
ul.odd {
    background-color: lightgrey;
}
ul.even {
    background-color: darkgray;
}
ul.odd > li.selected {
    background-color: palevioletred;
}
ul.even > li.selected {
    background-color: indianred;
}
ul.odd > li.species.selected {
    background-color: cornflowerblue;
}
ul.even > li.species.selected {
    background-color: royalblue;
}

/* Styling zoo species list in zoo map info window */
ul.zoo_species {
    border-left: none;
    padding-left: 20px;
}
ul.zoo_species > li {
    list-style-type: disc;
}

/* Styling text in category selector */
.latin_name, .category_level {
    font-style: italic;
}

/* Postcode entry form styling */
form {
    display: inline;
}
.error {
    color: red;
    font-weight: bold;
}
#invalid-postcode {
    display: none;
}

/* Styling clickable list items and spans */
span[onclick], li[onclick] {
    cursor: pointer;
}

/*Below is all the actual sections of the website for desktop and mobile*/
#main {
    height: 100%;
}
#map-ccontainer {
    width: 100%;
    height: 100%;
}
#map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#selector {
    position: relative;
    float: right;
    width: 100%;
}
@media screen and (min-width:1152px) {
    body {
        font-size: 16px;
    }
    #map-container {
    }
    #map-ccontainer {
        width: 50%;
        order: 1;
    }
    #selector {
        order: 2;
        width: 50%;
    }
}
/*End of website sections*/