ul {
    padding-left: 10px;
}
li.category {
    list-style-type: square;
}
li.species {
    list-style-type: circle;
}
.latin_name {
    font-style: italic;
}
.category_level {
    font-style: italic;
}