ul {
    padding-left: 10px;
    border-left: 1px dotted black;
}
li {
    list-style-type: none;
}
.latin_name {
    font-style: italic;
}
.category_level {
    font-style: italic;
}
form {
    display: inline;
}
li.closed:before {
    content: "📁";
}
li.open:before {
    content: "📂";
}
li.species:before {
    content: "🦌";
}
li.add:before {
    content: "➕";
}
.add form {
    display: none;
}
table {
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid black;
}
th > .species_name {
    white-space: nowrap;
    width: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
th > .species_name:hover {
    width: auto;
}
ul.odd {
    background-color: lightgrey;
}
ul.even {
    background-color: darkgray;
}
ul.odd > li.selected {
    background-color: palevioletred;
}
ul.even > li.selected {
    background-color: indianred;
}
ul.odd > li.species.selected {
    background-color: cornflowerblue;
}
ul.even > li.species.selected {
    background-color: royalblue;
}
ul.zoo_species {
    border-left: none;
    padding-left: 20px;
}
ul.zoo_species > li {
    list-style-type: disc;
}
input.input-lat, input.input-long {
    width: 5em;
}
#invalid-postcode {
    color: red;
    font-weight: bold;
}
#failed-login {
    color: red;
    font-weight: bold;
    display: none;
}
span[onclick], li[onclick] {
    cursor: pointer;
}
/*Below is all the actual sections of the website for desktop and mobile*/
#main {
    height: 100%;
}
#map-ccontainer {
    width: 100%;
    height: 100%;
}
#map-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#selector {
    position: relative;
    float: right;
    width: 100%;
}
@media screen and (min-width:1152px) {
    #map-container {
    }
    #map-ccontainer {
        width: 50%;
        order: 1;
    }
    #selector {
        order: 2;
        width: 50%;
    }
}
/*End of website sections*/