.navBar {
    background-color: #d5cc87;
    width: 100%;
}
.navButton {
    box-sizing: border-box;
    padding: 10px;
    margin-right: 5px;
    background-color: #c9ee7f;
    display: inline-block;
}
.navButton.selected {
    background-color: #a5c632;
}