.closed:before {
    content: "📁";
}
.open:before {
    content: "📂";
}
.hidden {
    display:none;
}
.clickable {
    cursor: pointer;
}
ul {
    margin: 0;
    padding-left: 10px;
    border-left: 1px dotted black;
}
li {
    list-style-type: none;
    max-height: 1000000px;
}
.categoryLevel {
    font-style: italic;
    padding-left: 3px;
    padding-right: 3px;
}
ul.odd > li.selected {
    background-color: var(--selected_category);
}
ul.even > li.selected {
    background-color: var(--selected_category_alt);
}
ul.odd {
    background-color: var(--category);
}
ul.even {
    background-color: var(--category-alt);
}