span.species.selected {
    background-color: powderblue;
}
.clickable {
    cursor: pointer;
}
.latinName {
    font-style: italic;
    padding-left: 3px;
    padding-right: 3px;
}
.latinName::before {
    content: "(";
    font-style: normal;
}
.latinName::after {
    content: ")";
    font-style: normal;
}
li.species:before {
    content: "🦌";
}
li.species.selected.odd {
    background-color: cornflowerblue;
}
li.species.selected.even {
    background-color: royalblue;
}
ul.hidden {
    display: none;
}