
.letterList {
    font-size: 130%;
    padding: 0 5px;
}
.letterList.odd {
    background-color: lightgrey;
}
.letterList.even {
    background-color: darkgray;
}
.letterList.odd.selected {
    background-color: palevioletred;
}
.letterList.even.selected {
    background-color: indianred;
}
.letterList.disabled {
    color: gray;
}
