.species.selected {
    background-color: var(--selected_species);
}
.clickable {
    cursor: pointer;
}
.species.selected.odd {
    background-color: var(--selected_species_tax);
}
.species.selected.even {
    background-color: var(--selected_species_tax_alt);
}
li.species:before {
    content: "🦌";
}