.species.selected {
    background-color: powderblue;
}
.clickable {
    cursor: pointer;
}
.species.selected.odd {
    background-color: cornflowerblue;
}
.species.selected.even {
    background-color: royalblue;
}
li.species:before {
    content: "🦌";
}